body {
  background-color: #EFECCA;
  margin:0px;
}

a {
  text-decoration: none;
}

#barre_nav_header_1 {
  height:68px;
  background-color: #8DD8F3;
  width:1350px;
  opacity:0,7;
}

.div_nav_header_1 {
  float:right;
  margin-right: 90px;
}

.ul_nav_header_1 li{
  display:inline-block;
  margin-right:10px;
  line-height: 35px;

}

.li_nav_header_1 {
  color:white;
  font-size:16px;
  margin-right:15px;
}



hr {border:0;
  margin:0px;
  height:0px;
  clear:both;
}



#barre_nav_header_2 {
  display:inline-block;
  height:65px;
  width:1350px;
  background-color: #66B6D4;
}

.div_nav_header_2_accueil {
  float:left;
  margin-left: 35px;
}

.ul_nav_header_2_accueil li{
  display:inline-block;
  line-height:35px;
}

.li_nav_header_2_accueil {
  font-size:22;
  color:white;
}



.div_nav_header_2 {
  float:right;
  margin-right: 85px;
}

.ul_nav_header_2 li{
  display:inline-block;
  margin-right:10px;
  line-height: 32px;
}

.li_nav_header_2 {
  color:white;
  font-size:14px;
  margin-right:20px;
}




#section_1 {
  width:1300x;
  height:450px;
  margin-top:50px;
  margin-left:25px;
  margin-right:25px;
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 2px 2px 2px 2px grey;
}

.section_1_gauche {
  height:400px;
  width:300px;
  background-color:white;
  float:left;
  margin:20px;
  border-right: 2px inset grey;
}

.photo_profil {
}

.section_1_gauche h1 {
  color:#66B6D4;
  font-size:26px;
  text-align:left;
}

.section_1_gauche p {
  text-align: left;
  font-size:12px;
  line-height:15px;
  color:grey;
}

.section_1_centre {
  height:400px;
  width:550px;
  position:absolute;
  top:210px;
  left:400px;
  background-color:white;

}
.section_1_centre h1 {
  color:#66B6D4;
  text-align:center;
  font-size:30px;
}

.p_titre {
  color:grey;
  text-align: center;
  font-size: 16px;
}
.p_bloc {
  color:grey;
  text-align:center;
  font-size: 14px;
}

.section_1_droite {
  height:400px;
  width:300px;
  background-color:white;
  margin:20px;
  border-left: 2px outset grey;
  float:right;
}

.section_1_droite h1 {
  color:#66B6D4;
  font-size:26px;
  text-align: center;
}

#megadiv_section_2 {
  width:1350;
  height:870px;
}


#section_2_gauche {
  margin-top:50px;
  height:800px;
  width:300px;
  background-color:#66B6D4;
  float:left;
  margin:20px;
  box-shadow: 2px 2px 2px 2px #66B6D4;
}

#section_2_gauche h1 {
  color:white;
  font-size:26px;
  text-align:left;
  margin-left:30px;
}

#section_2_gauche p {
  text-align: left;
  font-size:14px;
  line-height:15px;
  color:white;
    margin-left:30px;
}


#grande_section_2_droite {
  float:left;
  height:800px;
  width:985px;
  background-color: white;
  margin-top:20px;
  box-shadow: 2px 2px 2px 2px grey ;
  margin-left:5px;
}

.section_2_centre {
  margin-top:50px;
  height:750px;
  width:150px;
  background-color:white;
  float:left;
  margin:20px;
  border-right: 2px inset grey;
}

.dates_etudes_1 {
height:25px;
width:60px;
background-color:#66B6D4;
margin-top:100px;
}
.dates_etudes_1 p{
  color:white;
  opacity:0.8;
  text-align:center;
  line-height: 25px;
}

.dates_etudes_2 {
  height:25px;
  width:120px;
  background-color:#66B6D4;
  margin-top:150px;
}
.dates_etudes_2 p{
color:white;
opacity:0.8;
text-align:center;
line-height: 25px;
}

.dates_etudes_3 {
  height:25px;
  width:60px;
  background-color:#66B6D4;
  margin-top:110px;
}
.dates_etudes_3 p{
color:white;
opacity:0.8;
text-align:center;
line-height: 25px;
}

.dates_etudes_4 {
  height:25px;
  width:120px;
  background-color:#66B6D4;
  margin-top:105px;
}
.dates_etudes_4 p{
color:white;
opacity:0.8;
text-align:center;
line-height: 25px;
}

.dates_etudes_5 {
  height:25px;
  width:60px;
  background-color:#66B6D4;
  margin-top:105px;
}
.dates_etudes_5 p{
color:white;
opacity:0.8;
text-align:center;
line-height: 25px;
}

.section_2_droite {
  height:750px;
  width:700px;
  background-color:white;
  float:left;
}

.section_2_droite h1 {
  color:#66B6D4;
  font-size:26px;
  text-align:left;
  margin-left: 25px;
}

.texte_ecole_1 {
  color:grey;
  font-size:16px;
  text-align:left;
  margin-left:30px;
  margin-top:70px;
}

.texte_ecole_2 {
  color:grey;
  font-size:16px;
  text-align:left;
  margin-left:30px;
  margin-top:60px;
}

.texte_ecole_3 {
  color:grey;
  font-size:16px;
  text-align:left;
  margin-left:30px;
  margin-top:60px;
}

.texte_ecole_4 {
  color:grey;
  font-size:16px;
  text-align:left;
  margin-left:30px;
  margin-top:50px;
}

.texte_ecole_5 {
  color:grey;
  font-size:16px;
  text-align:left;
  margin-left:30px;
  margin-top:35px;
}



#megadiv_section_3 {
  width:1350;
  height:920px;
}

#grande_section_3_gauche {
  float:left;
  height:920px;
  width:750px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px grey ;
  margin-left:20px;
}

.section_3_gauche {
  height:900px;
  width:150px;
  background-color:white;
  float:left;
  margin-left:20px;
}

.dates_stages_1 {
height:25px;
width:60px;
background-color:#96CA2D;
margin-top:120px;
}
.dates_stages_1 p{
  color:white;
  opacity:0.8;
  text-align:center;
  line-height: 25px;
}

.dates_stages_2 {
  height:25px;
  width:60px;
  background-color:#96CA2D;
  margin-top:135px;
}
.dates_stages_2 p{
color:white;
opacity:0.8;
text-align:center;
line-height: 25px;
}

.dates_stages_3 {
  height:25px;
  width:60px;
  background-color:#96CA2D;
  margin-top:115px;
}
.dates_stages_3 p{
color:white;
opacity:0.8;
text-align:center;
line-height: 25px;
}

.dates_stages_4 {
  height:25px;
  width:60px;
  background-color:#96CA2D;
  margin-top:110px;
}
.dates_stages_4 p{
color:white;
opacity:0.8;
text-align:center;
line-height: 25px;
}

.dates_stages_5 {
  height:25px;
  width:60px;
  background-color:#96CA2D;
  margin-top:120px;
}
.dates_stages_5 p{
color:white;
opacity:0.8;
text-align:center;
line-height: 25px;
}

.section_3_centre {
  height:900px;
  width:500px;
  background-color:white;
  float:left;
  margin:20px;
  border-left: 2px outset grey;
}

.section_3_centre h1 {
  color:#96CA2D;
  font-size:26px;
  text-align:left;
  margin-left: 25px;
}

.texte_stages_1 {
  color:grey;
  font-size:16px;
  text-align:left;
  margin-left:30px;
  margin-top:45px;
}

.texte_stages_2 {
  color:grey;
  font-size:16px;
  text-align:left;
  margin-left:30px;
  margin-top:45px;
}

.texte_stages_3 {
  color:grey;
  font-size:16px;
  text-align:left;
  margin-left:30px;
  margin-top:45px;
}

.texte_stages_4 {
  color:grey;
  font-size:16px;
  text-align:left;
  margin-left:30px;
  margin-top:50px;
}

.texte_stages_5 {
  color:grey;
  font-size:16px;
  text-align:left;
  margin-left:30px;
  margin-top:35px;
}





#section_3_droite {
  height:920px;
  width:540px;
  background-color:#96CA2D;
  float:left;
  margin-left:20px;
  box-shadow: 2px 2px 2px 2px #96CA2D;
  margin-right:20px;
}

#section_3_droite h1 {
  color:white;
  font-size:26px;
  text-align:left;
  margin-left: 30px;
  margin-top:40px;
}

.dates_assos_1 {
  height:25px;
  width:120px;
  background-color:white;
  margin-top:95px;
  margin-left: 30px;
}
.dates_assos_1 p{
color:#96CA2D;
opacity:0.8;
text-align:center;
line-height: 25px;
}

.dates_assos_2 {
  height:25px;
  width:60px;
  background-color:white;
  margin-top:80px;
  margin-left:30px;
}
.dates_assos_2 p{
color:#96CA2D;
opacity:0.8;
text-align:center;
line-height: 25px;
}

.texte_assos_1 {
  color:white;
  font-size:16px;
  text-align:left;
  margin-left:30px;
  margin-top:45px;
}

.texte_assos_2 {
  color:white;
  font-size:16px;
  text-align:left;
  margin-left:30px;
  margin-top:45px;
}


#loisirs {
  height:500px;
  width:1310px;
  background-color:white;
  box-shadow: 2px 2px 2px 2px grey;
  margin-top:20px;
  margin-left:20px;
}
.cinema {
border-radius:50%;
float:left;
}

.div_footer {
  width:1310;
  height:100;
  background-color:black;
  margin-left:20px;
  margin-right:45px;
  box-shadow: 2px 2px 2px 2px black;
  padding-top:20px;
  margin-top:20px;
  opacity:0.9;
}

.div_footer p {
color:white;
padding-left:30px;
font-size:16px;
opacity:0.9;
}
